# Python bytecode and cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Django-specific files
*.log

media/
staticfiles/

# Environment variable files
.env
.env.*

# PyCharm project files
.idea/

# macOS system files
.DS_Store

# Coverage reports
htmlcov/
.coverage

credentials/
*.json
docker-context.tar
docker-context.tar
