{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Login{% endblock %}

<!-- Form -->
{% block content %}
  <main class="main-content">
    <form method="POST" >
        <h2>Login</h2>
        
        {% csrf_token %}
        {{ form.as_p }}
  
        <!-- Form Errors -->
        {% include 'form-errors.html' %}
        
        <button type="submit" class="search-button">Login</button>
    <!-- Forgotten Password -->
    <div>
      <p>Password forgotten? You can reset it <a href="{% url 'password_reset' %}">here</a></p>
    </div>
    </form>
  
  </main>
{% endblock %}