{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Change Password{% endblock %}

<!-- Form -->
{% block content %}
  <main class="main-content">
    <form method="POST" >
        <h2>Change Password</h2>
   
        {% csrf_token %}
        <!-- Errors -->
        {% if form.is_bound and form.non_field_errors %}
            <ul class="row-form-errors">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </ul>
        {% endif %}
    
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
  </main>
{% endblock %}