{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Regiter Partient{% endblock %}
<!-- Form -->
{% block content %}
  <main class="main-content">
    <form method="POST" >
        <h2>Register</h2>
     
        {% csrf_token %}
        <!-- Errors -->
        {% if form.errors %}
                <div class="form-errors text-red-600 my-2">
                    {{ form.errors }}
                </div>
            {% endif %}
        {{ form.as_p }}
    
        <button type="submit">Register</button>
    </form>
  </main>
{% endblock %}