{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Add Procedure{% endblock %}
<!-- Form -->
{% block content %}
    <main class="main-content">
    <form action="{% url 'add-procedure' %}" method="POST" >
        <h2>Добави Процедура</h2>
        <!-- Adding return_to value if coming from Add Visit-->
        {% if return_to %}
            <input type="hidden" name="return_to" value="{{ return_to }}">
        {% endif %}
    
        {{ form }}
        {% csrf_token %}
        <!-- Form Errors -->
        {% include 'form-errors.html' %}
    
        <button type="submit" class="search-button">Запази</button>
    </form>
  </main>
{% endblock %}