{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Patient Details{% endblock %}
<!-- Procedure Details -->
{% block content %}
  <main class="main-content">
    <section class="patient-info">
        <!-- Edit Button -->
         <a href="{% url 'edit-procedure' procedure.pk %}" class="edit-button-wrapper">
            <button class="edit-button">Edit</button>
        </a>
        <!-- Delete Button -->
        <div class="delete-button-wrapper">
              <a href="{% url 'delete-procedure' object.pk %}">
                <button class="delete-button">Delete</button>
              </a>   
          </div>
      <!-- Procedure Fields -->  
      <div class="info-header">
        <h2>{{ procedure }}</h2>
      </div>
      <ul>
        <li><strong>Description:</strong> {{ procedure.description|default:"No Description" }}</li>
      </ul>
    </section>
  </main>
{% endblock %}