{% extends 'base.html' %}
{% load static %}

{% block title %}Patient Details{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/patient-details.css' %}" />
{% endblock %}

{% block content %}
  <main class="main-content">
    <section class="patient-info">
      <div class="info-header">
        <h2>{{ procedure }}</h2>
        <button class="edit-button">Edit</button>
      </div>
      <ul>
        <li><strong>Description:</strong> {{ procedure.description|default:"No Description" }}</li>
      </ul>
    </section>
  </main>
{% endblock %}