{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Dudo Dent - Procedures{% endblock %}
<!-- Procedures Main -->
{% block content %}

  <main class="main-content">
    <div class="top-bar">
        <div class="top-bar-left">
            <h2>Процедури</h2>
            <!-- Search Form -->
            <form class="search-form" action="{% url 'all-procedures' %}" method="get">
                {{ form.query }}
                <button class="search-button">Търси</button>
            </form>
        <!-- Add Procedure Button -->    
        </div>
        <a href="{% url 'add-procedure' %}">
            <button class="add-button">Добави Процедура</button>
        </a>
    </div>
<!-- Listing All Procedures -->
  <section class="patients-list">
    {% for procedure in object_list %}
      <button
        class="patient-card-button"
        onclick="window.location.href='{% url 'procedure-details' procedure.pk%}'">
        {{ procedure.name }}
      </button>
    {% endfor %}
  </section>
  <!-- Pagination -->
  {% include 'pagination.html' %}
</main>

{% endblock %}

