{% extends 'base.html' %}
{% load static %}

{% block title %}Dudo Dent - Procedures{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
{% endblock %}
{% block content %}

  <main class="main-content">

    <div class="top-bar">
        <div class="top-bar-left">
            <h2>All Procedures</h2>
            <form class="search-form" action="{% url 'all-procedures' %}" method="get">
                {{ form.query }}
                <button class="search-button">Search</button>
            </form>
        </div>
        <a href="{% url 'add-procedure' %}">
            <button class="add-button">Add Procedure</button>
        </a>
    </div>

  <section class="patients-list">
    {% for procedure in object_list %}
      <button
        class="patient-card-button"
        onclick="window.location.href='{% url 'procedure-details' procedure.pk%}'">
        {{ procedure.name }}
      </button>
    {% endfor %}
  </section>
</main>

{% endblock %}

