{% extends 'base.html' %}

{% block content %}
     <main class="main-content">
      <section class="patient-info">
    <!-- Change Password and Edit Button -->
      {% if request.user.pk == object.pk %}
          <div class="edit-button-wrapper">
            <a href="{% url 'edit-profile' object.pk %}">
                <button class="edit-button">Edit</button>
            </a><a href="{% url 'change-password' request.user.pk %}">
                <button class="change-password-button">Change Password</button>
            </a>
          </div>
      {% endif %}
      <!-- Profile Info -->
          <ul>
              {% include 'common/profile-details-fields.html' %}
          </ul>
      <!-- Delete Button  -->  
      {% if request.user.is_dentist %}
          {% if object.is_patient or object.is_nurse or request.user.pk == object.pk%}
              <div class="delete-button-wrapper">
                  <a href="{% url 'delete-profile' object.pk %}">
                    <button class="delete-button">Delete</button>
                  </a>
              </div>
          {% endif %}
      {% endif %}
      </section>
    <!-- Visit Info -->
     {% if request.user.is_patient %}
      <h3>Your Visits</h3>
         {% include 'visits/visits-list.html' %}
     {% endif %}
    <!-- Set Availability buttons -->
     {% if request.user.is_dentist and request.user.pk == object.pk %}
         <div class="availability-buttons">
             <a href="{% url 'availability' %}">
                <button class="set-availability-button mb-4" >Set Availability</button>
             </a>
             <a href="{% url 'unavailability' %}">
                <button class="set-availability-button mb-4" >Set Unavailability</button>
             </a>
         </div>
     {% endif %}
    <!-- Current availabilities  -->
     {% if request.user.is_dentist or request.user.is_nurse %}
         <h3>Current Availabilities</h3>
         <ul class="appointments-ul">
            
             {% for a in availabilities %}
                 {% if a.type == 'available' %}
                    <li>
                        Availability: {{ a.obj.get_weekday_labels|join:", " }} - 
                        {{ a.obj.start_time|time:"H:i" }} to {{ a.obj.end_time|time:"H:i" }} 
                        from {{ a.obj.valid_from }} to {{ a.obj.valid_to }} 
                    </li>
                 {% elif a.type == 'unavailable' %}
                     <li>
                        Unavailability: from {{ a.obj.start_date }} until {{ a.obj.end_date }} 
                         - Reason: {{ a.obj.reason|default:"N/A" }}
                    </li>
                 {% else %}
                     <li>
                        You have no availabilities or unavailabilities set
                    </li>
                 {% endif %}
             {% endfor %}
         
         </ul>
     {% endif %}
    {% include 'pagination.html' %}
  </main>
{% endblock %}