{% extends 'base.html' %}
{% load static %}
<!--Title -->
{% block title %}Add Patient{% endblock %}

<!-- Form -->
{% block content %}
  <main class="main-content">
    <form action="{% url 'add-patient' %}" method="POST" >
        <h2>Добави Пациент</h2>
        <!-- Adding return_to value if coming from Add Visit -->
        {% if return_to %}
            <input type="hidden" name="return_to" value="{{ return_to }}">
        {% endif %}
    
        {% include 'form-errors.html' %}
        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" class="search-button">Запази</button>
    </form>
  </main>
{% endblock %}