{% extends 'base.html' %}
{% load static %}

{% block title %}Add Patient{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %}

{% block content %}
  <main class="main-content">
    <form action="{% url 'add-patient' %}" method="POST" >
        <h2>Add Patient</h2>
        
        {% if return_to %}
            <input type="hidden" name="return_to" value="{{ return_to }}">
        {% endif %}
        
        {% csrf_token %}
        {% if form.errors %}
          <div class="form-errors">
            <ul>
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {{ form.as_p }}
    
        <button type="submit">Save</button>
    </form>
  </main>
{% endblock %}