{% extends 'base.html' %}
{% load static %}

{% block title %}Patient Details{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/patient-details.css' %}" />
{% endblock %}

{% block content %}
  <main class="main-content">
    <section class="patient-info">
      <div class="info-header">
        <h2>Patient Details</h2>
        <button class="edit-button">Edit</button>
      </div>
      <ul>
        <li><strong>Name:</strong> {{ patient.full_name }}</li>
        <li><strong>Age:</strong> {{ patient.age }}</li>
        <li><strong>Gender:</strong> {{ patient.gender }}</li>  
        <li><strong>Phone:</strong> {{ patient.phone_number}}</li>
        <li><strong>Personal ID:</strong> {{ patient.personal_id }}</li>
        <li><strong>Email:</strong> {{ patient.email|default:"No Email Address"}}</li>
      </ul>
    </section>

    <section class="visit-history">
      <h3>Visit History</h3>
        {% for visit in patient_visits %}
            <div class="visit-card">{{ visit }}</div>
        {% endfor %}
    </section>
  </main>
{% endblock %}

