{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Patient Details{% endblock %}

<!-- Form -->
{% block content %}
  <main class="main-content">
      <section class="patient-info">
          <!-- Edit Button -->
          <div class="edit-button-wrapper">
            <a href="{% url 'edit-patient' patient.pk %}">
                <button class="edit-button">Обработи</button>
            </a>
          </div>
          <!-- Loading Profile fields -->
          <ul>
              {% include 'common/profile-details-fields.html' %}
          </ul>
          <!-- Delete Button -->
          <div class="delete-button-wrapper">
              <a href="{% url 'delete-patient' patient.pk %}">
                <button class="delete-button">Изтрий</button>
              </a>   
          </div>
      </section>
      <section class="visit-history">
          <!-- Patient Visits -->
          <h3>Посещения</h3>
          {%  include 'visits/visits-list.html' %}
      </section>
  </main>

{% endblock %}
