{% extends 'base.html' %}
{% load static %}

{% block title %}Dudo Dent - Patients{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static '/css/patients.css' %}" />
{% endblock %}
{% block content %}

  <main class="main-content">
    <div class="top-bar">
      <h2>All Patients</h2>
      <button class="add-button">Add Patient</button>
    </div>

    <section class="patients-header">
      <input type="text" placeholder="Search Patient..." class="search-bar" />
      <button class="search-button">Search</button>
    </section>

    <section class="patients-list">
      <!-- Patient cards -->
        {% for patient in patients %}
            <div class="patient-card">{{ patient.full_name }}</div>
        {% endfor %}
    </section>
  </main>
{% endblock %}

