
{% extends 'base.html' %}
{% load static %}

{% block title %}Dudo Dent - Patients{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
{% endblock %}
{% block content %}

  <main class="main-content">
    <div class="top-bar">
        <div class="top-bar-left">
            <h2>All Patients</h2>
            {% include 'common/search-patient.html' %}
        </div>
        <a href="{% url 'add-patient' %}">
            <button class="add-button">Add Patient</button>
        </a>
    </div>

  <section class="patients-list">
    {% for patient in patient_list %}
      <button
        class="patient-card-button"
        onclick="window.location.href='{% url 'patient-details' patient.slug %}'">
        {{ patient.full_name }}
      </button>
    {% endfor %}
  </section>
</main>

{% endblock %}
