* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4, h5, h6,
label,
button,
input,
select,
textarea {
  font-family: 'Montserrat', sans-serif !important;
}


.section-buttons {
    margin-bottom: 30px;
}

.appointments-ul {
    list-style: none;
    padding-left: 0;
}

.appointments-ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.appointments-ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    transition: font-weight 0.2s ease, color 0.2s ease;
}

.appointments-ul li a:hover {
    text-decoration: none;      /* No underline */
    font-weight: 600;           /* Slightly bolder */
    color: #000;                /* Optional: a bit darker on hover */
}
