{% extends 'base.html' %}
<!-- Title -->
{% block title %}Choose Date{% endblock %}
<!--Form -->
{% block content %}
    <main class="main-content">
        <form method="post">
            <h2>Избери Дата</h2>
            {% csrf_token %}
            {{ form }}
            <!-- Form Errors -->
            {% include 'form-errors.html' %}
            
            <button type="submit" name="back" class="search-button">Обратно</button>
            <button type="submit" class="search-button">Следваща</button>
        </form>
    </main>
{% endblock %}