{% extends 'base.html' %}
{% block title %}Choose Date{% endblock %}

{% block content %}
    <main class="main-content">
        <form method="post">
            <h2>Choose Date</h2>
            {% csrf_token %}
            {{ form }}
            
            {% if form.errors %}
                <div class="form-errors text-red-600 my-2">
                    {{ form.errors }}
                </div>
            {% endif %}

            
            
            <button type="submit">Next</button>
        </form>
    </main>
{% endblock %}