<section class="appointments-list">

<!-- If Patient -->      
{% if request.user.is_patient %}
    <h3>Запазени Часове:</h3>
{% else %}
<!-- If Dentist-->  
    <h3>Запазени Часове за {% now "d.m.Y" %}:</h3>
{% endif %}
<!-- Listing all appointments depending on the user -->  
    <ul class="appointments-ul">
        {% for a in appointments %}
                <li>
                    <a href="{% url 'appointment-details' a.pk %}">
                        {% if request.user.is_dentist %}
                            {{ a.patient }} в {{ a.start_time|date:"H:i" }}ч.
                        {% elif request.user.is_patient %}
                            {{ a.date|date:"d.m.Y" }} в {{ a.start_time|date:"H:i" }}ч. с др.{{ a.dentist }}
                        {% else %}
                            {{ a.patient }} - {{ a.date|date:"d.m.Y" }} в {{ a.start_time|date:"H:i" }}ч. с др.{{ a.dentist }}
                        {% endif %}
                    </a>
                </li>
        {% empty %}
            <li>Нямате запазени часове</li>
        {% endfor %}
    </ul>
</section>