{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Availability Details{% endblock %}
<!-- Availability Details -->
{% block content %}
  <main class="main-content">
    <section class="patient-info">
        
        <!-- Delete Button -->
        <div class="delete-button-wrapper">
              <a href="{% url 'delete-availability' object.pk %}">
                <button class="delete-button">Изтрий</button>
              </a>   
          </div>
      <!-- Fields -->  
      <div class="info-header">
        <h2>Работно Време</h2>
      </div>
      <ul>
        <li><strong>Дни:</strong> {{ object.get_weekday_labels|join:", " }}</li>
        <li><strong>Часове:</strong> от {{ object.start_time|time:"H:i" }}ч. до {{ object.end_time|time:"H:i" }}ч. </li>
        <li><strong>Валидоност:</strong> от {{ object.valid_from|date:"d.m.Y" }} до {{ object.valid_to|date:"d.m.Y" }} </li>
      </ul>
    </section>
  </main>
{% endblock %}