{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Unavailability Details{% endblock %}
<!-- Unavailability Details -->
{% block content %}
  <main class="main-content">
    <section class="patient-info">
        
        <!-- Delete Button -->
        {% if request.user == object.dentist or request.user.is_superuser %}
        <div class="delete-button-wrapper">
              <a href="{% url 'delete-unavailability' object.pk %}">
                <button class="delete-button">Изтрий</button>
              </a>   
          </div>
        {% endif %}
      <!-- Fields -->  
      <div class="info-header">
        <h2>Почивни Дни</h2>
      </div>
      <ul>
        <li><strong>Период:</strong> от {{ object.start_date|date:"d.m.Y" }} до {{ object.end_date|date:"d.m.Y" }}</li>
        <li><strong>Причина:</strong> {{ object.reason|default:"N/A" }}</li>
      </ul>
    </section>
  </main>
{% endblock %}