{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Add Visit{% endblock %}
<!-- Add Visit Form -->
{% block content %}
  <main class="main-content">
    <h2 class="form-title">Добави Посещение</h2>  
    <form action="{% url 'add-visit' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <!-- Adding a return-to value -->
        {% if return_to %}
            <input type="hidden" name="return_to" value="{{ return_to }}">
        {% endif %}
        <!-- Form fields -->
        <div class="form-group">
            {{ form.date.label_tag }}
            {{ form.date }}
        </div>

        <div class="form-group patient-visit-row">
        <div class="patient-label">
            {{ form.patient.label_tag }}
        </div>
        <div class="patient-visit-select-wrapper">
            {{ form.patient }}
            <button type="submit" name="add-patient" class="add-plus-button" title="Click to add patient" formnovalidate>
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
        </div>

        <div class="form-group">
            {{ form.procedure.label_tag }}
            <div class="patient-visit-select-wrapper">
                {{ form.procedure }}
                <button type="submit" name="add-procedure" class="add-plus-button" title="Click to add procedure" formnovalidate>
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>

        <div class="form-group">
            {{ form.additional_info.label_tag }}
            {{ form.additional_info }}
        </div>
        
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        
        <!-- Form Errors -->
        {% include 'form-errors.html' %}
        
        <button type="submit" class="search-button">Запази</button>
    </form>
  </main>
{% endblock %}