{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Patient Details{% endblock %}

<!-- Visit Details -->
{% block content %}
  <main class="main-content">
    <section class="patient-info">
        <!-- Edit Button -->
        <a href="{% url 'edit-visit' visit.pk %}" class="edit-button-wrapper">
            <button class="edit-button">Обработи</button>
        </a>
        <!-- Delete Button -->
        <div class="delete-button-wrapper">
              <a href="{% url 'delete-visit' object.pk %}">
                <button class="delete-button">Изтрий</button>
              </a>   
          </div>
      <!-- Visit Info -->  
      <div class="info-header">
        <h2>{{ visit.patient.full_name }} - {{ visit.date|date:'d.m.Y' }}</h2>
      </div>
      <!-- Visit Fields -->  
      <ul>
        <li><strong>Дата:</strong> {{ visit.date|date:'d.m.Y' }}</li>
        <li><strong>Име:</strong> {{ visit.patient.full_name }}</li>
        <li><strong>Процедура/и:</strong> {{ visit.get_procedures }}</li>  
        <li>
            <strong>Допълнителна Информация:</strong> 
            {% if visit.additional_info %}
                {{ visit.additional_info }}
            {% else %}
                Няма инфомация
            {% endif %}
        </li>
      <!-- Image if uploaded -->
        <li>
            <strong>Снимка:</strong> 
            {% if visit.image %}
                <img src="{{ visit.image.url }}" alt="Visit Image" style="max-width: 500px; max-height: 400px; width: auto; height: auto; display: block;">
            {% else %}    
                Няма снимка
            {% endif %}
        </li>  
      </ul>
    </section>
  </main>
{% endblock %}