{% extends 'base.html' %}
{% load static %}

{% block title %}Patient Details{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/patient-details.css' %}" />
{% endblock %}

{% block content %}
  <main class="main-content">
    <section class="visit-history">
      <h3>All Visits</h3>
        {% for visit in visits %}
            <button class="visit-card-button" onclick="window.location.href='{% url 'visit-details' visit.pk %}'">
                {{ visit }}
            </button>
        {% empty %}
              <div class="info-header">
                  <h4>No Visits yet</h4>
              </div>    
        {% endfor %}
    </section>
  </main>
{% endblock %}