{% extends 'base.html' %}
{% load static %}
<!-- Title -->
{% block title %}Visit Details{% endblock %}
<!-- Visits Main -->
{% block content %}
  <main class="main-content">
  
     <div class="top-bar">
        <div class="top-bar-left">
            <h2>All Visits</h2>
            <section class="patients-header">
                <!-- Search Form -->
                <form class="search-form" action="{% url 'all-visits' %}" method="get" >
                    {{ form.query}}
                    <button class="search-button">Search</button>
                </form>
            </section>
        <!-- Add Visit Button -->    
        </div>
        <a href="{% url 'add-visit' %}">
            <button class="add-button">Add Visit</button>
        </a>
    </div>
  <!-- All Visits -->    
    {% include 'visits/visits-list.html' %}
  <!-- Pagination -->
   {% include 'pagination.html' %}
  </main>
{% endblock %}