<nav class="nav-buttons">
  {% if request.user.is_authenticated %}
      <a href="{% url 'home' %}"><button>Home</button></a>
      {% if request.user.is_dentist or request.user.is_staff or request.user.is_nurse %}
          <a href="{% url 'all-visits' %}"><button>Visits</button></a>  
          <a href="{% url 'all-patients' %}"><button>Patients</button></a>
          <a href="{% url 'all-procedures' %}"><button>Procedures</button></a>
          <a href="{% url 'register' %}"><button>Add New User</button></a>
          {% else %}
          <a href="{% url 'appointment-step1' %}"><button>Book Appointment</button></a>
      {% endif %} 
       <a href="{% url 'profile' request.user.pk %}"><button>Profile</button></a>
      <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()"><button class="logout">Logout</button></a> 
  {% else %}  
      <a href="{% url 'login' %}"><button class="login">Login</button></a>  
      <a href="{% url 'register' %}"><button class="login">Register</button></a>
  {% endif %}  

</nav>


<form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none">
    {% csrf_token %}
</form>